module.exports = {
    dev: {  /* development, in-memory database, for short-term tests */
        root: "root path in database folder",
        filename: "database filename",
    },
    test: { /* test environment, creates & loads persistent database */
        // ...
    },
    prod: { /* prod environment, creates & loads persistent database */
        // ...
    }
}